.cabecalho{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(163,245,228,1) 92%);

   

    padding: 8px 0;
    position: relative;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}