
body{
    background-color: #CCCCCC;
    text-align: center;
}


#banner{
    width: 100%;
}

h1{
    color: blueviolet;
    height: 50px;
}

#fundo{
    width: 100%;
}

.nossaMissao{
    font-size: 25px;
}

strong{
    color: blue;
}


