body{
    background-color: #CCCCCC;
}

#banner{
    width: 100%;
}

.principal{
    height: 250px;
}

.tituloPrincipal{
    padding-left: 20px;
}

.tituloCentralizado{
    height: 70px;
    text-align: center;
    font-size: 25px;
}

.paragrafos{
    text-align: center;
}

.itens{
    font-style: italic;
}

.nossaMissao{
    font-size: 25px;
}

strong{
    color: blue;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    height: 70px;
    font-size: 25px;
}

.produtos{
    width: 50%;
}