
body{
    background-color: #CCCCCC;
}


#banner{
    width: 100%;
}

h1{
    color: blueviolet;
    height: 50px;
    text-align: center;
}

.paragrafos{
    text-align: center;
}

.itens{
    font-style: italic;
}

.nossaMissao{
    font-size: 25px;
}

strong{
    color: blue;
}

h2{
    text-align: center;
}
