.menuLink{
    margin-right: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    transition: 0.15s all;
}

.menuLink:hover{
    color: blue;
    text-decoration: underline;
}