.menu__link{
    margin-right: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    transition: 0.15s all;
}

.menu__link:hover{
    color: blue;
    text-decoration: underline;
    font-weight: bolder;
}