
/* Estilizando o HEADER*/


header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);


    padding: 20px 0;
    position: relative;
    border-radius: 8px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}


.logo{
    height: 200px;
}

nav{
    position: absolute;
    top: 100px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}


/* Estilizando o MAIN*/


.tituloP{
    font-size: 40px;
    text-align: center;
    height: 40px;
    font-weight: bold;
    padding-top: 30px;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    height: 400px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 34px;
    color: #c78c19;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.imagemProduto{
    width: 200px;
}

.descricaoProduto{
    font-size: 18px;
    color: #000;
}

.precoProduto{
    font: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: #000;
}

.sobreLojinha{
    height: 250px;
}

.sobreLojinha h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 60px;
}

.paragrafoSobre{
    font-size: 20px;
    height: 40px;
    text-align: center;
}

/* Estilizando o FOOTER*/



footer{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 40px 0;
}

.logoFooter{
    height: 100px;
}


.paragrafoContato{
    text-decoration: none;
    display: inline;
    color: #FFFFFF;
    margin: 0 15px 10px 10px;
}

.paragrafoContato:hover{
    color: #c78c19;
}

.copyright{
    color: aliceblue;
    font-size: 13px;
    margin: 20px;
}